<nav class="navbar">
  <div class="fixed-header">

    <a href="javascript:void(0);" class="menu-icon" onclick="navbarToggle()">X</a>

    <div class="active">
      <span>Smart-TODO-List</span>
    </div>
  </div>

  <div id="menu-links">
    <a href="#">Complete</a>
    <a href="#">Incomplete</a>
    <a href="#">Log Out</a>
  </div>

</nav>
