<input type="checkbox" id="active" class="active-checkbox">
<label for="active" id="burger" class="menu-btn"><span></span></label>
<label for="active" class="close"></label>
<div class="wrapper">
  <h2>ezLIST</h2>
  <ul>
    <li><a href="/edit-user"><i class="user-icon fas fa-sun"></i><span>
          <%= email%>
        </span></a></li>
    <li><a href="/"><i class="tasks-icon fas fa-tasks"></i>Tasks</a></li>
    <li><a href="/incomplete"><i class="important-icon far fa-star"></i>Incomplete</a></li>
    <li><a href="/completed"><i class="completed-icon fas fa-check"></i>Completed</a></li>
    <li>
      <form method="post" action="/logout">
        <a>
          <button type='submit'>
            <i class="logout-icon fas fa-sign-out-alt"></i>
            <div id=#logout-text>Logout</div>
          </button>
        </a>
      </form>
    </li>
  </ul>
</div>
