<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Smart-TODO-List - Home Page</title>

    <!-- External CSS -->

    <!-- App CSS -->
    <link rel="stylesheet" href="../styles/complete.css">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- App JS -->
  </head>

  <body>
    <!-- Top nav bar (fixed) -->

    <input type="checkbox" id="active" class="active-checkbox">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
        <li><a href="#">User Name</a></li>
        <li><a href="#">Completed</a></li>
        <li><a href="#">Important</a></li>
        <li><a href="#">Tasks</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>


    <!-- Page-specific (main) content here -->
    <main class="container">
      <section id="task-container">

          <!-- <label class="form-control">
            <input type="checkbox" class="checkbox incomplete" id="1" name="naruto" value="movie">
            Finish wathing Naruto
          </label>

          <label class="form-control">
            <input type="checkbox" class="checkbox incomplete" id="2" name="spiderman" value="movie">
            Watch new Spidermam movie
          </label>

          <label class="form-control">
            <input type="checkbox" class="checkbox incomplete" id="3" name="kdrama" value="movie">
            Catch up on kdramas
          </label>

          <label class="form-control">
            <input type="checkbox" class="checkbox incomplete" id="4" name="extra" value="movie">
            Checkbox - checked
          </label> -->

          <%- include('partials/_footer') %> 
      </section>
    </main>
  </body>
</html>
