<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Smart-TODO-List - Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- App CSS -->
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/edit-task.css">

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->

  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <%- include('partials/_header') %>
    <h2>Edit Task</h2>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <form action="/edit-task/<%= task.id %>" method="POST">
        <div class="form-group">
          <label for="task">Task</label>
          <input type="text" id="task-textfield" name="task" value="<%= task.description %>"></textarea>
          <!-- <button type="button" id="clear">Clear</button> -->
        </div>

        <div class="form-group radio">
          <label for="category">Category</label>
          <div class="radio-buttons">
            <input type="radio" name="category" value="movie">
            <label for="movies">Movies</label>

            <input type="radio" name="category" value="restaurant">
            <label for="restaurants">Restaurants</label>

            <input type="radio" name="category" value="book">
            <label for="books">Books</label>

            <input type="radio" name="category" value="product">
            <label for="products">Products</label>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" id="submit" value="submit">Submit</button>
        </div>

      </form>
    </main>
  </body>
</html>
