<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Smart-TODO-List - Home Page</title>

    <!-- External CSS -->

    <!-- App CSS -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <div>
        <span>APP NAME</span>
      </div>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <section id="movies-container">Incomplete</section>
    </main>
  </body>
</html>

