<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile - ezLIST</title>
  <!-- SCRIPTS -->
  <link rel="stylesheet" href=
  "./styles/profile.css" type="text/css" />
  <link rel="stylesheet" href="../styles/header.css">
  <script src="/scripts/header.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




</head>

<body>
  <%- include('partials/_header') %>

  <h2 class="temp-title">Profile Editor</h2>

  <section class="main-body">
    <div class="current-user">
      <span class="my-email-label">
        My email:
      </span>
      <span class="my-email">
        <%= email %>
      </span>
    </div>

    <form action="/edit-user" method="POST" id="editEmailForm">
      <h2 class="email-form-header">
        NEW EMAIL
      </h2>

      <div class="form-entry">
        <input type="text" id="editEmailFormText" value="<%= email %>" name="email"></input>
        <button type="submit" id="editEmailSubmit">+</button>
      </div>
    </form>
  </section>
</body>
<%- include('partials/_footer') %>

</html>
