body {
  background-color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title {
  margin-top: 1vh;
  margin-bottom: 5vh;
}
.edit-container {
  margin-top: 8vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-label {
  font-weight: bold;
  font-size: 2.5vh;
}
#task-textfield {
  width: 80vw;
  height: fit-content;
  padding: 2%;
  margin-top: 1vw;
  overflow-wrap: break-word;
  border-radius: 1vh;
  border: 1px solid grey;
  font-size: 105%;
}
.radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;

}
.category-label {
  font-weight: bold;
  /* font-size: 110%; */
}
.radio-buttons {
  margin-left: 5vw;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#submit {
  cursor: pointer;
  width: 80vw;
  padding: 1.5%;
  border-radius: 1vh;
  border: 1px solid grey;
  font-size: 2.5vh;
}
#submit:hover {
  background-color: #6b38fb;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 1vh;
}
