body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: #fcfcfc;
}

#form1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
  margin-top: 15%;
}

#task-text {
  width: 85%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#form-submit {
  border-radius: 35px;
  border: none;
  width: 33px;
}

.headerBar {
  padding: 2%;
  display: flex;
  margin-top: 1%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgrey;
}

.listItem {
  margin: 1.5%;
  padding: 2%;
  display: flex;
  background-color: white;
  border-radius: 5px;
}

.listContents {
  height: 15vh;
  overflow-y: scroll;
  padding-left: 3%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}