body {
  font-family: "Libre Franklin", sans-serif;
  background-color: white;
}

.page-title {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

.todo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

#form1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}

#task-text {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#form-submit {
  border-radius: 35vw;
  border: none;
  width: 33px;
  margin-left: 1vw;
}

.headerBar {
  padding: 2%;
  display: flex;
  margin-top: 1%;
  border-radius: 5px;
  background-color: white;
  border: 1px solid lightgrey;
}

.listItem {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.listItem .icon {
  margin: 10px;
  text-decoration: none;
  /* remove underline */
  color: black;
}

#list-delete {
  border-radius: 35vw;
  border: none;
  margin-right: 1vw;
}

.listContents {
  padding-left: 3%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}