.card-container {
  background: #f2f2f2;
  padding: 40px;
  height: 100vh;
}
#profile-img {
  display: block;
  margin: 30px auto 40px;
  border-radius: 15%;
  height: 150px;
  width: 150px;
}
.registration .form-control {
  margin: 12px auto;
}
h2 {
  font-size: 3rem;
  margin-top: 0.25em;
}
.btn {
  width: 100%;
  cursor: pointer;
  margin: 0px auto 35px;
}
h2:before, h2:after {
  content: "";
  height: 3px;
  width: 27%;
  background: #d4d4d4;
  position: absolute;
  top: 13%;
  z-index: 2;
}
h2:before { left: 0; }
h2:after { right: 0; }
