body {
  background-color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-title {
  margin-top: 1vh;
  margin-bottom: 5vh;
}
#task-container {
  margin-top: 8vh;
  width: 80%;
}
.form-control{
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  padding: 1.2vh;
  border: 1px solid grey;
  border-radius: 1vh;

}
#task-container input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  width: 1em;
  height: 1em;
  border: 1.9px solid grey;
  border-radius: 50%;
  transform: translateY(0.1em);
  display: grid;
  /* place-content: center; */
}

#task-container input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: grey;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#task-container input[type="checkbox"]:checked::before {
  transform: scale(1);
}
#description-text {
  margin-left: 1vh;
}
.edit-delete{
  border: none;
  display: flex;
  margin-left: auto;
}
.edit-icon {
  margin-right: 1.5vh;
  color: #6b38fb;
}
.delete-icon {
  color: #ff3b34;
}
.icon {
  background-color: transparent;
  border: none;
}
.far {
  font-size: 2.5vh;
}
