body {
  // position ✅
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  // styling
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: #fcfcfc;

}
// MOVE TITLE TO PARTIAL
// nav {
//   display: flex;
//   justify-content: center;
//   margin-top: 10%;
// }

// form
#form1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
  margin-top: 15%; // remove when header is added
}
#task-text{
  width: 85%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
#form-submit{
  border-radius: 35px;
  border: none;
  width: 33px;
}


// body
// collapseable category header
.headerBar {
  // position
  padding: 2%;
  display: flex;
  margin-top: 1%;

  // styling
  border-radius: 5px;

  // basic mockup
  background-color: white;
  border: 1px solid lightgrey;
}
// individual list items ✅
.listItem {
  // position
  margin: 1.5%;
  padding: 2%;
  display: flex;

  // styling
  background-color: white;
  border-radius: 5px;
}

// grouped list items ✅
.listContents {
  height: 15vh;
  overflow-y: scroll;
  padding-left: 3%;
}

// scrollbar
// default
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
// handle
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
