body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;

}
nav {
  background-color: bisque;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
#form1 {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
}
// categories
.container {
  border: 2px solid black;
  // background-color: chartreuse;
}
// DELETE - for testing only
.categoryHeader {
  background-color: cornsilk;
}
.movies-container {
  background-color: crimson;
  height: fit-content;
}
.movieTasks {
  background-color: blue;
  height: 100px;
  overflow-y: scroll;
}
.bookTasks{
  height: 100px;
  overflow-y: scroll;
}
.restaurantTasks{
  height: 100px;
  overflow-y: scroll;
}
.productTasks{
  height: 100px;
  overflow-y: scroll;
}
.restaurants-container{
  background-color: darkgrey;
}
.books-container{
  background-color: darkgreen;
}
.products-container {
  background-color: darkseagreen;
}
// lists
.listItem {
  background-color: coral;
}

// accordion

// // category headings
// #accordion {
//   background-color: #eee;
//   color: #444;
//   cursor: pointer;
//   // padding: 18px;
//   // width: 100%;
//   text-align: left;
//   border: none;
//   outline: none;
//   transition: 0.4s;
// }

// // changes colour on hover
// .active, #accordion:hover {
//   background-color: #ccc;
// }

// // accordion panel
// .panel {
//   // padding: 0 18px;
//   background-color: white;
//   display: none;
//   overflow: hidden;
// }
